In [2]:
import numpy as np
import pandas as pd
import os 

from matplotlib import pyplot as plt

pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

### LOAD DATASETS & PLANNING

In [35]:
raw_datasets_path = os.path.abspath(os.path.join('raw_datasets'))
cleaned_datasets_path = os.path.abspath(os.path.join('cleaned_datasets'))

In [36]:
os.path.join(raw_datasets_path, 'jabodetabek_house_price.csv')

'c:\\Users\\balse\\Documents\\VScode\\STIMA-Makalah\\STIMA-Makalah-Analysis\\raw_datasets\\jabodetabek_house_price.csv'

In [37]:
# LOAD 2023 PROPERTY SALE DATA
def load_data(filename):
    return pd.read_csv(os.path.join(raw_datasets_path, filename))

df_sale_2023_raw = load_data('jabodetabek_house_price.csv')
df_sale_raw = load_data('rumah123_sale_properties.csv')
df_rent_raw = load_data('rumah123_rent_properties.csv')

In [38]:
# CLEANING PROCESS:
'''
- remove building_age feature
- re-order columns
- rename + re-order sale_2023 data
- check the data types of each column
    - if not numeric, convert to numeric (e.g. bathrooms, bedrooms)
- convert price_in_rp, electricity, land_size, building_size  to numeric

- check city unique values. Only keep Jabodetabek cities (Jakarta, Bogor, Depok, Tangerang, Bekasi). -> clean (e.g. Bandung writen as Badung)

- remove whitespaces for categorical features. e.g. replace spaces with underscores " " -> "_".
(just for visualization purposes, XGBoost does not care about this)


- identify duplicated columns
- Handling null/na values: replace/remove

- feature understanding (univariate analysis): histogram, KDE, boxplot (identifying outliers).
    checking and removing outliers.

- Further cleaning based on special cases found in the exploratory data analysis (EDA).
'''

# DATA PREPARATION (XGBoost)
'''
- data normalization (e.g. price and building area scale are far apart)
- One Hot Encoding (categorical -> numerical for XGBoost)
'''

'\n- data normalization (e.g. price and building area scale are far apart)\n- One Hot Encoding (categorical -> numerical for XGBoost)\n'

### DATA CLEANING

In [39]:
df_rent_raw.shape

(5671, 17)

In [40]:
# Remove building_age feature
df_sale = df_sale_raw.drop(columns=['building_age'], errors='ignore')
df_rent = df_rent_raw.drop(columns=['building_age'], errors='ignore')

# re-order columns
df_sale = df_sale[['url', 'title', 'price_in_rp', 'district', 'city' , 'bedrooms', 'bathrooms', 'land_size_m2', 'building_size_m2','certificate', 'electricity_power', 'property_condition', 'floor_count', 'description']]

df_rent = df_rent[['url', 'title', 'price_in_rp', 'district', 'city' , 'bedrooms', 'bathrooms', 'land_size_m2', 'building_size_m2','certificate', 'electricity_power', 'property_condition', 'floor_count', 'description']]
df_rent.rename(columns={'price_in_rp': 'rent_price_per_year'}, inplace=True)

In [41]:
# rename + re-order sale_2023 data
df_sale_2023 = df_sale_2023_raw.rename(columns={
    'url': 'url', 
    'price_in_rp': 'price_in_rp', 
    'title': 'title', 
    # 'address': 'location', 
    'district': 'district', 
    'city': 'city', 
    # 'lat',
    # 'long', 
    'facilities': 'description', 
    # 'property_type', 
    # 'ads_id', 
    'bedrooms': 'bedrooms',
    'bathrooms': 'bathrooms', 
    'land_size_m2': 'land_size_m2', 
    'building_size_m2': 'building_size_m2', 
    # 'carports'
    'certificate': 'certificate', 
    'electricity': 'electricity_power', 
    # 'maid_bedrooms', 
    # 'maid_bathrooms',
    'floors': 'floor_count', 
    # 'building_age', 
    # 'year_built', 
    'property_condition': 'property_condition',
    # 'building_orientation', 
    # 'garages', 
    # 'furnishing'    
}).copy()

df_sale_2023 = df_sale_2023[['url', 'title', 'price_in_rp', 'district', 'city' , 'bedrooms', 'bathrooms', 'land_size_m2', 'building_size_m2', 'certificate', 'electricity_power', 'property_condition', 'floor_count', 'description']]

In [42]:
# check the data types of each column prior to conversion
print(df_sale.dtypes)
print(df_rent.dtypes)

url                    object
title                  object
price_in_rp            object
district               object
city                   object
bedrooms              float64
bathrooms             float64
land_size_m2           object
building_size_m2       object
certificate            object
electricity_power      object
property_condition     object
floor_count           float64
description            object
dtype: object
url                     object
title                   object
rent_price_per_year     object
district                object
city                    object
bedrooms               float64
bathrooms              float64
land_size_m2            object
building_size_m2        object
certificate             object
electricity_power       object
property_condition      object
floor_count            float64
description             object
dtype: object

In [43]:
# NUMERIC DATA TYPE CONVERSION (2025 DATA)

# --- price_in_rp ---
for i, val in enumerate(df_sale['price_in_rp']):
    if isinstance(val, str):
        val = val.replace('Rp', '').replace(',', '.')
        if 'Miliar' in val:
            val = val.replace('Miliar', '').strip()
            val = float(val) * 1_000_000_000
        elif 'Juta' in val:
            val = val.replace('Juta', '').strip()
            val = float(val) * 1_000_000
        df_sale.at[i, 'price_in_rp'] = val
    # print(i, val)

for i, val in enumerate(df_rent['rent_price_per_year']):
    if isinstance(val, str):
        val = val.replace('Rp', '').replace(',', '.')
        if '/bulan' in val or 'per bulan' in val:
            val = val.replace('/bulan', '').replace('per bulan', '').strip()
            period = 12
        elif '/tahun' in val or 'per tahun' in val:
            val = val.replace('/tahun', '').replace('per tahun', '').strip()
            period = 1
        elif '/hari' in val or 'per hari' in val:
            val = val.replace('/hari', '').replace('per hari', '').strip()
            period = 365
            
        if 'Miliar' in val:
            val = val.replace('Miliar', '').strip()
            val = float(val) * 1_000_000_000 * period
        elif 'Juta' in val:
            val = val.replace('Juta', '').strip()
            val = float(val) * 1_000_000 * period
        elif 'Ribu' in val:
            val = val.replace('Ribu', '').strip()
            val = float(val) * 1_000 * period
        df_rent.at[i, 'rent_price_per_year'] = float(val)
    # print(i, val)


# --- land_size_m2 ---
if df_sale['land_size_m2'].dtype == 'object':
    # Remove 'm²' and convert to float
    df_sale['land_size_m2'] = df_sale['land_size_m2'].str.replace('m²', '').str.replace(',', '.').astype(float)
if df_rent['land_size_m2'].dtype == 'object':
    # Remove 'm²' and convert to float
    df_rent['land_size_m2'] = df_rent['land_size_m2'].str.replace('m²', '').str.replace(',', '.').astype(float)

# --- building_size_m2 ---
if df_sale['building_size_m2'].dtype == 'object':
    # Remove 'm²' and convert to float
    df_sale['building_size_m2'] = df_sale['building_size_m2'].str.replace('m²', '').str.replace(',', '.').astype(float)
if df_rent['building_size_m2'].dtype == 'object':
    # Remove 'm²' and convert to float
    df_rent['building_size_m2'] = df_rent['building_size_m2'].str.replace('m²', '').str.replace(',', '.').astype(float)

# --- electricity_power ---
if df_sale['electricity_power'].dtype == 'object':
    # Remove 'Watt' and convert to float
    df_sale['electricity_power'] = df_sale['electricity_power'].str.replace('Lainnya', '0').str.replace('Watt', '').str.replace(',', '.').astype(float)
if df_rent['electricity_power'].dtype == 'object':
    # Remove 'Watt' and convert to float
    df_rent['electricity_power'] = df_rent['electricity_power'].str.replace('Lainnya', '0').str.replace('Watt', '').str.replace(',', '.').astype(float)


# CATEGORICAL DATA CLEANING
# standardize certificate values
df_sale['certificate'] = df_sale['certificate'].replace(
    [
        'PPJB', 'Hak Sewa'
    ], 
    'Lainnya')
df_rent['certificate'] = df_rent['certificate'].replace(
    [
        'PPJB', 'Hak Sewa'
    ],
    'Lainnya')

In [44]:
# check the data types of each column after conversion
print(df_sale.dtypes, end='\n\n')
print(df_rent.dtypes)

url                    object
title                  object
price_in_rp            object
district               object
city                   object
bedrooms              float64
bathrooms             float64
land_size_m2          float64
building_size_m2      float64
certificate            object
electricity_power     float64
property_condition     object
floor_count           float64
description            object
dtype: object

url                     object
title                   object
rent_price_per_year     object
district                object
city                    object
bedrooms               float64
bathrooms              float64
land_size_m2           float64
building_size_m2       float64
certificate             object
electricity_power      float64
property_condition      object
floor_count            float64
description             object
dtype: object

In [45]:
# NUMERIC DATA TYPE CONVERSION (2023 HOUSE SALES DATA)

# --- electricity_power ---
'''
- convert mah to watt. 1 Watt = 1 mAh (this is an assumption because somehow the range of electricity between watt in 2025 data and mah in 2023 data is similar)
'''
if df_sale_2023['electricity_power'].dtype == 'object':
    # Replace 'lainnya' with 0, remove 'mah', replace ',' with '.' and convert to float
    df_sale_2023['electricity_power'] = df_sale_2023['electricity_power'].str.replace('lainnya', '0').str.replace('mah', '').str.replace(',', '.').astype(float)

# --- property condition mapping ---
property_condition_mapping = {
    'baru': 'Baru',
    'bagus sekali': 'Baru',
    'bagus': 'Bagus',
    'sudah renovasi': 'Sudah Renovasi',
    'semi furnished': 0,
    'butuh renovasi': 'Butuh Renovasi',
    'unfurnished': 0
}
if df_sale_2023['property_condition'].dtype == 'object':
    df_sale_2023['property_condition'] = df_sale_2023['property_condition'].map(property_condition_mapping)

# CATEGORICAL DATA CLEANING
# standardize certificate values
df_sale_2023['certificate'] = df_sale_2023['certificate'].replace(
    [
        'shm - sertifikat hak milik', 'hgb - hak guna bangunan', 'lainnya (ppjb,girik,adat,dll)', 'hp - hak pakai'
    ], 
    [
        'SHM', 'HGB', 'Lainnya', 'Hak Pakai'
    ])

# trim spaces and whitespaces for categorical features
df_sale_2023['district'] = df_sale['district'].str.strip()
df_sale_2023['city'] = df_sale_2023['city'].str.strip()

In [46]:
# check city unique values. Only keep Jabodetabek cities (Jakarta, Bogor, Depok, Tangerang, Bekasi).
df_sale.query("city == ['Bekasi', 'Bogor', 'Depok', 'Jakarta Barat', 'Jakarta Selatan', 'Jakarta Utara', 'Jakarta Timur', 'Jakarta Pusat', 'Tangerang']", inplace=True)
df_rent.query("city == ['Bekasi', 'Bogor', 'Depok', 'Jakarta Barat', 'Jakarta Selatan', 'Jakarta Utara', 'Jakarta Timur', 'Jakarta Pusat', 'Tangerang']", inplace=True)

In [47]:
# DUPLICATE HANDLING
'''
there's no duplicates in the dataset: df_sale, df_rent, df_sale_2023
'''

# NULL VALUES HANDLING
    # if we don't have time, just dropna. But if we do, do this:
'''
df_sale:
- check ourself from the image or description: bedrooms, bathrooms, floor_count, property_condition

df_rent:
- check ourself from the image or description: bedrooms, bathrooms, land_size_m2, building_size_m2
- fill null: floor_count = 1 (check first)
- drop null: property_condition

df_sale_2023:
- drop null: location, land_size_m2, building_size_m2, certificate, property_condition, floor_count
'''

# df_sale:
df_sale.dropna(subset=df_sale.columns[df_sale.isnull().any()].tolist(), inplace=True)

# df_rent:
df_rent.dropna(subset=df_rent.columns[df_rent.isnull().any()].tolist(), inplace=True)

# df_sale_2023:
df_sale_2023.dropna(subset=df_sale_2023.columns[df_sale_2023.isnull().any()].tolist(), inplace=True)

In [48]:
# REMOVE PRICE OUTLIERS using IQR method
def remove_outliers_iqr(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]

# remove outliers for price_in_rp
df_sale = remove_outliers_iqr(df_sale, 'price_in_rp')
df_rent = remove_outliers_iqr(df_rent, 'rent_price_per_year')
df_sale_2023 = remove_outliers_iqr(df_sale_2023, 'price_in_rp')

In [49]:
# SAVE CLEANED DATA
os.makedirs(cleaned_datasets_path, exist_ok=True)

def save_cleaned_data(df, filename):
    df.to_csv(os.path.join(cleaned_datasets_path, filename), index=False)

save_cleaned_data(df_sale, 'rumah123_2025_sale_properties_cleaned.csv')
save_cleaned_data(df_rent, 'rumah123_2025_rent_properties_cleaned.csv')
save_cleaned_data(df_sale_2023, 'rumah123_2023_sale_properties_cleaned.csv')

In [50]:
# cleaned dataframes
df_sale, df_rent, df_sale_2023

(                                                    url  \
 1     https://www.rumah123.com/properti/bekasi/hos38...
 2     https://www.rumah123.com/properti/bogor/hos393...
 3     https://www.rumah123.com/properti/bogor/hos392...
 4     https://www.rumah123.com/properti/depok/hos392...
 5     https://www.rumah123.com/properti/depok/hos392...
 ...                                                 ...
 2589  https://www.rumah123.com/properti/tangerang/ho...
 2590  https://www.rumah123.com/properti/tangerang/ho...
 2592  https://www.rumah123.com/properti/jakarta-utar...
 2599  https://www.rumah123.com/properti/jakarta-utar...
 2600  https://www.rumah123.com/properti/jakarta-utar...

                                                   title   price_in_rp  \
 1     Rumah Hadap Utara 13 menit ke Plaza Taman Hara...   590000000.0
 2     Rumah LT 120 Hadap Selatan 15 menit ke Metropo...  2040000000.0
 3     Rumah Minimalis Murah Akses Dekat Stasiun Bojo...   340000000.0
 4     Rumah Hook 1 Lantai 7 menit ke RS Brawijaya De...   840000000.0
 5     Rumah Luas Strategis 10 menit ke Cinere Bellev...  2770000000.0
 ...                                                 ...           ...
 2589  Rumah Strategis SHM 15 Menit ke Gerbang Tol BS...  1410000000.0
 2590  Rumah 3 KT Strategis Akses Dekat Stasiun Rawa ...  1220000000.0
 2592  Dijual Rumah 3 Lantai di Kelapa Gading Jakarta...  5000000000.0
 2599  Jual 10x15 Full Furnish Pik2 Pik Pantai Indah ...  6500000000.0
 2600  Murah !! Dijual Kavling 6x17 di Gading Elok , ...  1650000000.0

                   district           city  bedrooms  bathrooms  land_size_m2  \
 1            Harapan Indah         Bekasi       2.0        1.0          78.0
 2                  Cibubur          Bogor       3.0        2.0         120.0
 3              Bojong Gede          Bogor       2.0        1.0          60.0
 4              Bojong Sari          Depok       2.0        1.0         176.0
 5                   Cinere          Depok       5.0        2.0         170.0
 ...                    ...            ...       ...        ...           ...
 2589              BSD City      Tangerang       3.0        2.0          60.0
 2590              BSD City      Tangerang       3.0        2.0          90.0
 2592         Kelapa Gading  Jakarta Utara       4.0        4.0         153.0
 2599  Pantai Indah Kapuk 2  Jakarta Utara       4.0        4.0         150.0
 2600         Kelapa Gading  Jakarta Utara       1.0        1.0         102.0

       building_size_m2 certificate  electricity_power property_condition  \
 1                 53.0         HGB             2200.0              Bagus
 2                100.0         SHM             2200.0              Bagus
 3                 36.0         HGB             1300.0              Bagus
 4                 36.0         SHM                0.0              Bagus
 5                240.0         SHM             2200.0              Bagus
 ...                ...         ...                ...                ...
 2589              70.0         SHM                0.0              Bagus
 2590              70.0         SHM             5500.0              Bagus
 2592             250.0         SHM             4400.0   Renovasi Minimum
 2599             200.0         SHM                0.0              Bagus
 2600             102.0         SHM                0.0     Renovasi Total

       floor_count                                        description
 1             2.0  Cluster Ubud Bekasi\nBabelan - Kabupaten Bekas...
 2             2.0  Kota Wisata Cluster Vancouver\nCileungsi - Kab...
 3             1.0  Grahapura Kemang 2\nKemang - Kabupaten Bogor\n...
 4             1.0  Perumahan Sawangan Hill 3\nSawangan - Kota Dep...
 5             2.0  Bumi Pusaka Cinere\nCinere - Kota Depok\n\nRum...
 ...           ...                                                ...
 2589          1.0  Parkville Serpong Cluster Canola\nGunung Sindu...
 2590          2.0  Komplek Kimia Farma Hankam\nCiledug - Kota Tan...
 2592          3.0  Dijual Rumah 3 Lantai di Kelapa Gading Jakarta...
 2599          2.0  *DIJUAL*\nRuma PIK 2 Tahap 1 \nUk: 10x15\nKT: ...
 2600          1.0  Murah !! Dijual Kavling 6x17 di Gading Elok , ...

 [1739 rows x 14 columns],
                                                     url  \
 2     https://www.rumah123.com/properti/jakarta-bara...
 7     https://www.rumah123.com/properti/jakarta-bara...
 10    https://www.rumah123.com/properti/jakarta-sela...
 17    https://www.rumah123.com/properti/jakarta-timu...
 18    https://www.rumah123.com/properti/jakarta-sela...
 ...                                                 ...
 5659  https://www.rumah123.com/properti/jakarta-sela...
 5661  https://www.rumah123.com/properti/jakarta-sela...
 5667  https://www.rumah123.com/properti/tangerang/ho...
 5668  https://www.rumah123.com/properti/tangerang/ho...
 5670  https://www.rumah123.com/properti/tangerang/ho...

                                                   title rent_price_per_year  \
 2             Disewakan Rumah Full Bangunan 3lt Murahhh         120000000.0
 7              Cengkareng Indah Bebas Banjir Dan Rapih.          45000000.0
 10    Bintaro Permai Lt 980 M2 Cocok Untuk Bisnis Ja...         335000000.0
 17    Rumah Full Furnished Cluster Metland Menteng S...         110000000.0
 18    Rumah TB Simatupang, Jakarta Selatan Kontrakan...          70000000.0
 ...                                                 ...                 ...
 5659  American Classic Siap Huni Area Elite Kemang J...         550000000.0
 5661  Disewakan  Rumah Siap Huni Lokasi Superstrateg...         195000000.0
 5667         Disewakan Rumah Tinggal di Puspitaloka BSD         110000000.0
 5668  Rumah Semi Furnish Siap Huni Di Hyland Greenwi...          50000000.0
 5670  Luxury Modern Semi Furnish Corner House Lakewo...         400000000.0

              district             city  bedrooms  bathrooms  land_size_m2  \
 2     Green Lake City    Jakarta Barat       3.0        3.0         200.0
 7          Cengkareng    Jakarta Barat       2.0        1.0          90.0
 10            Bintaro  Jakarta Selatan       5.0        2.0         980.0
 17    Metland Menteng    Jakarta Timur       4.0        3.0         300.0
 18      TB Simatupang  Jakarta Selatan       2.0        2.0          60.0
 ...               ...              ...       ...        ...           ...
 5659           Kemang  Jakarta Selatan       5.0        5.0         750.0
 5661      Lebak Bulus  Jakarta Selatan       5.0        3.0         250.0
 5667              BSD        Tangerang       4.0        3.0         230.0
 5668   Gading Serpong        Tangerang       3.0        2.0          77.0
 5670              BSD        Tangerang       5.0        4.0         308.0

       building_size_m2 certificate  electricity_power property_condition  \
 2                239.0         SHM                0.0              Bagus
 7                 90.0         SHM                0.0              Bagus
 10               415.0         SHM             6600.0              Bagus
 17               180.0         SHM             5500.0              Bagus
 18                71.0         SHM                0.0              Bagus
 ...                ...         ...                ...                ...
 5659             700.0         SHM            23000.0              Bagus
 5661             300.0         SHM             6600.0              Bagus
 5667             250.0         SHM                0.0              Bagus
 5668              70.0     Lainnya             2200.0              Bagus
 5670             338.0         SHM                0.0              Bagus

       floor_count                                        description
 2             3.0  Deskripsi\nGreen Lake City merupakan kawasan h...
 7             1.0  Cengkareng Indah\n6x15\n1 lantai\n2 kamar tidu...
 10            1.0  Spesifikasi \nLuas tanah 980 m2 \nLuas banguna...
 17            1.0  Sewa\n\n\nCluster Teresta, Metland Menteng Hoo...
 18            2.0  Disewakan rumah di Cluster 67 Kebagusan (Jalan...
 ...           ...                                                ...
 5659          2.0  Lokasi di area elite paling diminati di Kemang...
 5661          2.0  Rumah Disewakan \nRumah Siap Huni Lokasi Super...
 5667          2.0  DISEWA\n\nRumah Tinggal\nPuspitaloka\n\nLS. 23...
 5668          2.0  Cluster Hyland @Greenwich BSD City\n\nLT 77\nL...
 5670          3.0  Grab It Fast!!! For Info Contact Aloysius Befo...

 [2499 rows x 14 columns],
                                                     url  \
 0     https://www.rumah123.com/properti/bekasi/hos11...
 1     https://www.rumah123.com/properti/bekasi/hos10...
 2     https://www.rumah123.com/properti/bekasi/hos10...
 3     https://www.rumah123.com/properti/bekasi/hos10...
 4     https://www.rumah123.com/properti/bekasi/hos10...
 ...                                                 ...
 2596  https://www.rumah123.com/properti/jakarta-bara...
 2597  https://www.rumah123.com/properti/jakarta-bara...
 2598  https://www.rumah123.com/properti/jakarta-bara...
 2599  https://www.rumah123.com/properti/jakarta-bara...
 2600  https://www.rumah123.com/properti/jakarta-timu...

                                                   title   price_in_rp  \
 0     Rumah cantik Sumarecon Bekasi\nLingkungan asri...  2.990000e+09
 1             Rumah Kekinian, Magenta Summarecon Bekasi  1.270000e+09
 2     Rumah Cantik 2 Lantai Cluster Bluebell Summare...  1.950000e+09
 3     Rumah Mewah 2Lantai L10x18 C di Cluster VERNON...  3.300000e+09
 4     Rumah Hoek di Cluster Maple Summarecon Bekasi,...  4.500000e+09
 ...                                                 ...           ...
 2596     Rumah Riviera At Puri Brand New 8x15 Termurah!  3.600000e+09
 2597  Andre Tjhia Metland Puri Minimalist House Loka...  4.500000e+09
 2598  Andre Tjhia Metland Puri Rumah Baru Hook Luxur...  3.750000e+09
 2599    Rumah The Riviera Puri Brand New 8x15 - Phase 2  3.700000e+09
 2600  Jual Rumah Di Komplek Kimia Farma Duren Sawit ...  3.000000e+09

                   district           city  bedrooms  bathrooms  land_size_m2  \
 0           Soekarno Hatta         Bekasi       4.0        4.0         239.0
 1            Harapan Indah         Bekasi       3.0        2.0          55.0
 2                  Cibubur         Bekasi       3.0        3.0         119.0
 3              Bojong Gede         Bekasi       3.0        3.0         180.0
 4              Bojong Sari         Bekasi       4.0        3.0         328.0
 ...                    ...            ...       ...        ...           ...
 2596           Pondok Aren  Jakarta Barat       3.0        3.0         120.0
 2597                Wiyung  Jakarta Barat       3.0        3.0         200.0
 2598              Pamulang  Jakarta Barat       4.0        4.0         220.0
 2599  Pantai Indah Kapuk 2  Jakarta Barat       3.0        3.0         120.0
 2600         Kelapa Gading  Jakarta Timur       5.0        2.0         206.0

       building_size_m2 certificate  electricity_power property_condition  \
 0                272.0         SHM             4400.0              Bagus
 1                 69.0         HGB             2200.0              Bagus
 2                131.0         HGB             2200.0              Bagus
 3                174.0         SHM             3500.0               Baru
 4                196.0         SHM             3500.0              Bagus
 ...                ...         ...                ...                ...
 2596             150.0         SHM                0.0               Baru
 2597             450.0         SHM             2200.0               Baru
 2598             270.0         SHM             3300.0               Baru
 2599             131.0         SHM             4400.0               Baru
 2600             120.0         SHM             1300.0     Butuh Renovasi

       floor_count                                        description
 0             2.0       Tempat Jemuran, Jalur Telepon, Taman,  Taman
 1             2.0                                              Taman
 2             2.0   Jogging Track,  Kolam Renang, Masjid,  Taman,...
 3             2.0   Jalur Telepon,  Jogging Track, Track Lari,  K...
 4             2.0   Jogging Track,  Kolam Renang, Taman, Jalur Te...
 ...           ...                                                ...
 2596          2.0   Taman, Keamanan, Kolam Renang, Track Lari,  J...
 2597          3.0  Taman, Keamanan 24 jam, Akses Parkir,  One Gat...
 2598          2.0  Taman, Keamanan 24 jam, Akses Parkir,  Taman, ...
 2599          2.0      Kolam Renang, Taman,  Jogging Track, Keamanan
 2600          2.0  Taman, Keamanan 24 jam, Masjid, Wastafel,  Kea...

 [2056 rows x 14 columns])

### DATA PREPARATION FOR MODELLING